In [6]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/olist/olist_order_items_dataset.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [3]:
data.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [7]:
data['product_id'].nunique()

32951

In [36]:
data['order_id'].nunique()

98666

In [9]:
data1 = pd.read_csv('/content/drive/MyDrive/olist/olist_geolocation_dataset.csv')

In [10]:
data1.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [11]:
data1['geolocation_zip_code_prefix'].nunique()

19015

In [12]:
len(data1)

1000163

In [7]:
data2 = pd.read_csv('/content/drive/MyDrive/olist/olist_customers_dataset.csv')

In [14]:
data2.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [16]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [20]:
data3 = pd.read_csv('/content/drive/MyDrive/olist/olist_order_payments_dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [22]:
data3.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [26]:
data4 = pd.read_csv('/content/drive/MyDrive/olist/olist_order_reviews_dataset.csv')

In [24]:
data4.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [27]:
data5 = pd.read_csv('/content/drive/MyDrive/olist/olist_orders_dataset.csv')

In [28]:
data5.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [29]:
data6 = pd.read_csv('/content/drive/MyDrive/olist/olist_sellers_dataset.csv')

In [30]:
data6.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [31]:
data6['seller_id'].nunique()

3095

In [32]:
data7 = pd.read_csv('/content/drive/MyDrive/olist/olist_products_dataset.csv')

In [33]:
data7.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [34]:
data7['product_id'].nunique()

32951

In [35]:
data7.shape[0]

32951

In [8]:
data2.drop(columns=['customer_unique_id'], inplace=True)

In [9]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_zip_code_prefix  99441 non-null  int64
 2   customer_city             99441 non-null  object
 3   customer_state            99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [15]:
data2.to_csv('/content/drive/MyDrive/olist/cleaned data olist/olist_customers_edited.csv', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import pandas as pd
data4 = pd.read_csv('/content/drive/MyDrive/olist/olist_order_reviews_dataset.csv')

In [3]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [4]:
data4.drop(columns=['review_comment_title', 'review_comment_message'], inplace=True)

In [6]:
data4.to_csv('/content/drive/MyDrive/olist/cleaned data olist/olist_order_reviews_edited.csv', index=False)

In [7]:
data7= pd.read_csv('/content/drive/MyDrive/olist/olist_products_dataset.csv')

In [9]:
data7.drop(columns=['product_name_lenght', 'product_description_lenght', 'product_length_cm', 'product_height_cm', 'product_width_cm'], inplace=True)

In [12]:
data7.isnull().sum()

product_id                 0
product_category_name    610
product_photos_qty       610
product_weight_g           2
dtype: int64

In [13]:
data7['product_category_name'].fillna('outros', inplace=True)

In [15]:
data7['product_photos_qty'].fillna(0, inplace=True)

In [16]:
data7['product_weight_g'].fillna(data7['product_weight_g'].mean(), inplace=True)

In [17]:
data7.isnull().sum()

product_id               0
product_category_name    0
product_photos_qty       0
product_weight_g         0
dtype: int64

In [18]:
data7.to_csv('/content/drive/MyDrive/olist/cleaned data olist/olist_products_edited.csv', index=False)